<% if (page) { %>

  <% if (page === 'events') { %>
    <title>Опен эйры, конкурсы, вечеринки по социальным танцам: хастл, бачата, зук, сальса, WCS на онлайн карте Dancemap.online </title>
    <meta name="Description" content="Опен эйры, турниры, вечеринки по социальным танцам: хастл, бачата, зук, сальса, WCS на онлайн карте Dancemap.online">
  <% } %>

  <% if (page === 'studios') { %>
    <title>Студии и школы социальных танцев: хастл, бачата, зук, сальса, WCS на онлайн карте Dancemap.online </title>
    <meta name="Description" content="Студии и школы танцев: на онлайн карте Dancemap.online">
  <% } %>

  <% if (page === 'main') { %>
    <title>Студии и школы социальных танцев, танцевальные события: хастл, бачата, зук, сальса, WCS на онлайн карте Dancemap.online</title>
  <meta name="Description" content="Студии и школы социальных танцев, танцевальные события: хастл, бачата, зук, сальса, WCS на онлайн карте Dancemap.online">
  <% } %>	

<% }  %>

<% if (marker) { %>
  <% if (marker.properties.type === 'studio') { %>
    <title>Школа социальных танцев <%= marker.properties.name %>, <%= marker.properties.city %></title>
    <meta name="Description" content="Школа танцев <%= marker.properties.name %>, обучение танцам: <%= marker.properties.speciality.join(', ') %>">
  <% } %>

    <% if (marker.properties.type === 'event') { %>
    <title>Школа социальных танцев <%= marker.properties.name %>, <%= marker.properties.city %></title>
    <meta name="Description" content="Школа танцев <%= marker.properties.name %>, обучение танцам: <%= marker.properties.speciality.join(', ') %>">
  <% } %>

<% }  %>	












