<% if (page) { %>

  <% if (page === 'events') { %>
    <title>Танцевальные опен эйры, дискотеки, конкурсы, мастер классы, фестивали по социальным танцам: хастл, бачата, зук, сальса, WCS на онлайн карте Dancemap.online </title>
    <meta name="Description" content="Танцевальные Опен эйры, дискотеки, турниры, мастер классы, фестивали по социальным танцам: хастл, бачата, зук, сальса, WCS, свинг на онлайн карте Dancemap.online">
    <meta name="keywords" content="танцевальные опен эйры, open airs, танцевальные вечеринки, танцевальные дискотеки, танцевальные турниры, мастер классы по танцам, фестивали социальных танцев">
  <% } %>

  <% if (page === 'studios') { %>
    <title>Студии и школы парных танцев по: хастлу, дискофоксу, бачате, зуку, сальсе, WCS, свингу на онлайн карте Dancemap.online </title>
    <meta name="Description" content="Студии и школы парных танцев по: хастлу, дискофоксу, бачате, зуку, сальсе, WCS, свингу на онлайн карте Dancemap.online">
    <meta name="keywords" content="школа танцев хастл, школа танцев бачата, школа танцев зук, школа танцев сальса, школа танцев WCS, школа танцев свинг">
  <% } %>

  <% if (page === 'main') { %>
    <title>Школы парных танцев и танцевальные события по: хастлу, дискофоксу, бачате, зуку, сальсе, WCS, свингу на онлайн карте Dancemap.online</title>
  <meta name="Description" content="Школы парных танцев, танцевальные события по: хастлу, дискофоксу, бачате, зуку, сальсе, WCS, свингу на онлайн карте Dancemap.online">
  <% } %>	

<% }  %>

<% if (marker) { %>
  <% if (marker.properties.type === 'studio') { %>
    <title><%= marker.properties.subtype %> <%= marker.properties.name %>, <%= marker.properties.city %></title>
    <meta name="Description" content="<%= marker.properties.subtype %> <%= marker.properties.name %>, обучение танцам: <%= marker.properties.speciality.join(', ') %>, <%= marker.properties.city %>">
    <meta name="keywords" content="<%= marker.properties.speciality.map( (el) => { return "Обучение танцу " + el;}).join(', ') %>">
  <% } %>

    <% if (marker.properties.type === 'event') { %>
    <title><%= marker.properties.subtype %> <%= marker.properties.name %>, <%= marker.properties.city %></title>
    <meta name="Description" content="<%= marker.properties.subtype %> <%= marker.properties.name %>, <%= marker.properties.speciality.join(', ') %>">
    <meta name="keywords" content="<%= marker.properties.speciality.join(', ') %>"
  <% } %>

<% }  %>	












