<% if (marker.properties.type === 'studio') { %>
  <title>Школа социальных танцев <%= marker.properties.name %>, <%= marker.properties.city %></title>
  <meta name="Description" content="Школа танцев <%= marker.properties.name %>, обучение танцам: <%= marker.properties.speciality.join(', ') %>">
<% } %>

if (marker.properties.type === 'event') { %>
  <title> Танцевальные cобытие <%= marker.properties.name %>, <%= marker.properties.city %></title>
  <meta name="Description" content="Событие <%= marker.properties.name %>, <%= marker.properties.speciality.join(', ') %>">
<% } %>







