<!DOCTYPE html>
<html>
  <head>
    
    <%- include('./partials/seotitle-main', page); -%>
    <link rel="icon" href="https://dancemap.online/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="yandex-verification" content="e73d49b4298f11ea" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <!--<script src="https://kit.fontawesome.com/3d2fe1a67d.js" crossorigin="anonymous"></script>-->
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="crossorigin=""></script>
    <link href='https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css' rel='stylesheet' />
    <link href='https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css' rel='stylesheet' />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/locale/ru.js"></script>
    <!-- Dancemap-->
    <script  src="/js/mobile.js"></script>
    <link href='/css/main.css' rel='stylesheet' />
  
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
    <%- include('./partials/counters', {}); -%>
    <%- include('./partials/json-ld', marker); -%>
  </head>
  
  <body>
 
  <%- include('./partials/header-studios', marker); -%>
  <%- include('./partials/sidecontent', marker, dayjs); -%>


  <div id="map-box"></div>
  
  <script  src="/js/dancemap.js"></script>
  <script  src="/js/nav.js"></script>
  <script  src="/js/socket.js"></script>
  <script  src="/js/mapcontrol.js"></script>
  <script>
  dayjs.locale('ru');
  const settings = {
    event: false,
    datepicker: document.querySelector('input[type="date"]'),
    up: document.getElementById('date-right'),
    down: document.getElementById('date-left'),
    search: document.querySelector('input[type="search"]'),
    category: document.getElementById('filter-category'),
    sidecontent: document.getElementById("sidecontent")
  }

  const searchSettings = {
    type: 'studio',
    category: 'all',
    radius: 5000,
    queryType: 'geoWithin'
  }

  this.dancemap.mapcontrol.searchSetup(searchSettings);
  this.dancemap.nav.navSetup(settings);
  this.dancemap.mapcontrol.openByURL();
  this.dancemap.socket.getClusters();
  

  </script>

    
  </body>
</html>
